.route_page {
  .create_map {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 98.5%;
    min-width: 580px;

    @media (max-width: ($pc_small_width)) {
      width: 80%;
      height: 50%;
      margin-right: 0px;
      margin-bottom: 10px;
    }

    .map_animation {
      width: 99.5%;
      height: 100%;
      margin-bottom: 14px;
      flex: 1;

      iframe,
      .none_map {
        width: 100%;
        height: 100%;
        border: 2px var(--sub_bg) solid;
        background-color: var(--sub_bg);

        border-radius: 20px;

        transition: all 0.3s;

        a {
          text-decoration: none;
          text-align: center;

          p {
            justify-content: center;
            color: var(--input_text);
            transition: all 0.3s;

            &:hover {
              font-size: 18px;
            }
          }
        }
      }
    }

    .url_input_animation {
      height: 30px;
      padding-right: 15px;
      .input_map_url {
        width: 100%;
        height: 100%;
        background-color: var(--input_bg);
        color: var(--input_text);
        padding-left: 15px;

        border-top: -5px;
        border-radius: 20px;
        // border: none;
        border: 0;
        font-family: $font;
        bottom: 0;
        transition: all 0.3s;

        &:hover {
          transform: scale(1.01);
        }

        &:focus {
          outline: none;
        }
      }
    }
  }

  .route_detail {
    // border: 2px map-get($light_theme, 'sub_bg') solid;
    @media (max-width: ($pc_small_width)) {
      width: 80%;
      height: 86%;
    }

    .textarea_animation {
      flex: 1;
      // width: 100%;
      height: 100%;
      padding-right: 10px;
      padding-bottom: 16px;

      textarea {
        width: 100%;
        height: 100%;
        background-color: var(--input_bg);
        color: var(--input_text);
        font-size: 20px;
        padding-right: 7px;

        border-radius: 20px;

        resize: none;

        // overflow: scroll;
        // overflow: hidden;
        transition: all 0.3s;

        &:hover {
          transform: scale(1.01);
        }

        &:focus {
          outline: none;
        }
      }
    }

    .create_header {
      width: 100%;
      height: 115px;

      .input_title {
        height: 60px;

        input {
          width: 50%;
          font-size: 25px;
          color: var(--input_text);
          background-color: var(--sub_bg);
          transition: all 0.3s;

          &:hover {
            transform: scale(1.01);
          }
        }

        .category_icon {
          filter: var(--icon_sub_color);
          transition: all 0.3s;
        }
      }

      .input_sg_point {
        height: 30px;
        border: 2px var(--sub_bg) solid;
        border-radius: 20px;
        transition: all 0.3s;

        &:hover {
          transform: scale(1.01);
        }

        input {
          font-size: 20px;
          color: var(--text);
          background-color: var(--bg);
          transition: all 0.3s;
        }
      }

      .input_title,
      .input_sg_point {
        display: flex;
        flex: column;
        margin-bottom: 10px;

        input {
          flex: 1;
          padding-left: 15px;
          border-radius: 15px;
          border: none;
          font-family: $font;
          bottom: 0;

          &:focus {
            outline: none;
            // transform: scale(1.03);
          }
        }

        select,
        div {
          width: 60px;
          height: 60px;
          margin-left: 10px;
          border-radius: 15px;
          background-color: var(--sub_bg);
          color: var(--sub_text);
          transition: all 0.3s;

          &:hover {
            transform: scale(1.03);
          }

          &:focus {
            outline: none;
            // transform: scale(1.03);
          }
        }

        div {
          lord-icon {
            margin-left: 10px;
            margin-top: 10px;
          }
        }
      }
    }

    .select_situation {
      display: flex;
      height: 215px;

      .none_edit {
        opacity: 0.5;
        pointer-events: none;
      }

      .select_weather,
      .select_vehicle {
        height: 200px;
        margin-bottom: 10px;
        flex: 1;
        border-radius: 20px;
        border: 2px var(--sub_bg) solid;
        transition: all 0.3s;

        &:hover {
          transform: scale(1.02);
        }

        p {
          text-align: center;
          margin: 0px;
          color: var(--text);
          transition: all 0.3s;

          &:last-child {
            margin-top: 10px;
          }
        }
      }

      .select_weather {
        margin-right: 5px;

        .before,
        .after {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .before {
          margin-top: 10px;
        }

        div {
          margin-left: 5px;
          margin-right: 5px;

          input[type="radio"] {
            display: none;
          }

          label {
            opacity: 0.5;
            filter: var(--icon_color);
            transition: all 0.3s;
          }

          .select_situation_input {
            opacity: 1;
          }
        }
      }

      .select_vehicle {
        margin-left: 5px;

        .vehicle_list {
          display: flex;
          justify-content: center;
          align-items: center;

          &:first-child {
            margin-top: 10px;
            margin-bottom: 22.73px;
          }
        }

        div {
          margin-left: 5px;
          margin-right: 5px;

          input[type="checkbox"] {
            display: none;
          }

          label {
            filter: var(--icon_color);
            transition: all 0.3s;
            opacity: 0.5;
          }

          .select_situation_input {
            opacity: 1;
          }
        }
      }
    }

    .create_footer {
      width: 100%;
      height: 120px;
      display: flex;
      flex: column;

      .posts_state {
        width: 200px;
        height: 120px;
        margin-right: 10px;

        .none_edit {
          opacity: 0.5;
          pointer-events: none;
        }

        div {
          height: 50px;
          border-radius: 15px;
          display: flex;
          align-items: center; /* 縦方向中央揃え */
          justify-content: center; /* 横方向中央揃え */
          // height: 100%; /* 高さを親要素に合わせる */

          border: 2px var(--sub_bg) solid;
          background-color: var(--sub_bg);
          color: var(--sub_text);
          transition: all 0.3s;

          .change_before {
            margin-top: 7px;
            filter: var(--icon_sub_color);
            transition: all 0.3s;
          }

          .change_after {
            margin-top: 7px;
            filter: var(--icon_color);
            transition: all 0.3s;
          }

          &:hover {
            transform: scale(1.03);
          }

          &:first-child {
            margin-bottom: 10px;
          }

          input[type="checkbox"] {
            display: none;
          }
        }

        .none_check {
          background-color: var(--bg);
          color: var(--text);
        }
      }

      .none_edit {
        opacity: 0.5;
        pointer-events: none;
      }

      button {
        flex: 1;
        border-radius: 20px;
        font-size: 16px;
        font-family: $font;
        color: var(--text);
        background-color: var(--bg);
        border: 2px var(--sub_bg) solid;
        transition: all 0.3s;

        &:hover {
          color: var(--input_text);
          background-color: var(--sub_bg);
          transform: scale(1.03);
        }
      }
    }
  }
}
