.route_page {

    .create_map {
        display: flex;
        flex-direction: column;
        width: 45%;
        height: 99%;
        min-width: 580px;

        @media (max-width: ($pc_small_width)) {
            width: 80%;
            height: 50%;
             margin-right: 0px;
            margin-bottom: 10px;
        }

        iframe {
            background-color: map-get($light_theme, "sub_bg");
            margin-bottom: 10px;
            width: 99.5%;
            flex: 1;
        }

        .input_map_url {
            background-color: map-get($light_theme, "input_bg");
            color: map-get($light_theme, "input_text");
            height: 30px;
            padding-left: 15px;
            border-top: -5px;
            border-radius: 20px;
            border: none;
            font-family: $font;
            bottom: 0;
            transition: all 0.3s;

            &:hover {
                transform: scale(1.01);
            }

            &:focus {
                outline: none;
                // transform: scale(1.03);
            }
        }
    }
    
    .route_detail{
        background-color:gray;
    }
}
