.main_contents {
    height: 100%;

    .route_list,
    .route_page {
        position: relative;
        pointer-events: auto;
        display: flex;
        height: calc(108vh - 380px);
        // flex-grow: 1;
        overflow-y: scroll;
        overflow-x: hidden;

        @media (max-height: ($pc_small)) {
            height: calc(114vh - 420px);
        }

        max-width: 1920px;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;

        .route_board {
            // height: 375px;

            .link_no_underline {
                text-decoration: none;
            }

            .route_card {
                width: 580px;
                height: 325px;
                // padding: 5px;
                margin: 30px 20px 0px 20px;
                border-radius: 20px;
                color: map-get($light_theme, "sub_text");
                background-color: map-get($light_theme, "sub_bg");
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                backface-visibility: hidden;
                -webkit-backface-visibility: hidden;

                transition: all 0.3s;

                &:hover {
                    // transform: scale(1.03);
                    // opacity: 0.9;
                    transform: translateY(-5px);
                }

                .route_header {
                    display: flex;
                    justify-content: space-between; /* ヘッダー内の要素を水平中央に配置 */
                    align-items: center;
                    height: 40px;
                    margin: 15px 10px 0px 10px;
                    position: "fixed";
                    z-index: 10;

                    ul {
                        margin-bottom: 8px;
                        margin-right: -10px;

                        li {
                            list-style: none;
                            display: inline-block;
                            margin-right: 10px;
                            transition: all 0.3s;
                            image-rendering: -webkit-optimize-contrast;

                            &:hover {
                                // transform: scale(1.15);
                                transform: translateY(-5px);
                            }
                        }

                        .display_none {
                            display: none;
                        }
                    }
                }
            }

            iframe {
                width: 560px;
                height: 245px;
                margin-left: 10px;
                pointer-events: none;
                justify-content: space-between;
                align-items: center;

                border-radius: 20px;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;

                // 色フィルター
                filter: grayscale(60%) sepia(25%);
            }

            .route_footer {
                display: flex;
                justify-content: space-between; /* ヘッダー内の要素を水平中央に配置 */
                align-items: center;
                height: 35px;
                margin: 0px 10px 0px 10px;
                position: "fixed";
                z-index: 10;

                .display_none {
                    display: none;
                }

                .route_weather {
                    align-items: center;
                    justify-content: center;
                    padding: 0;
                    // margin-left: 10px;

                    li {
                        list-style: none;
                        display: inline-block;
                        margin-right: 5px;
                        transition: all 0.3s;
                        image-rendering: -webkit-optimize-contrast;

                        &:hover {
                            // transform: scale(1.15);
                            transform: translateY(-3px);
                        }
                    }
                }
                .route_vehicle {
                    align-items: center;
                    justify-content: center;
                    padding: 0;
                    // margin-left: 10px;
                    // margin-right: 10px;
                    // margin-bottom: 8px;
                    margin-left: 5px;

                    li {
                        list-style: none;
                        display: inline-block;
                        margin-left: 10px;
                        transition: all 0.3s;
                        image-rendering: -webkit-optimize-contrast;

                        &:hover {
                            // transform: scale(1.15);
                            transform: translateY(-3px);
                        }
                    }

                    .display_none {
                        display: none;
                    }
                }

                .isnot_running {
                    align-items: center;
                    justify-content: center;
                    padding: 0;
                    // margin-left: 10px;

                    transition: all 0.3s;
                    image-rendering: -webkit-optimize-contrast;

                    // &:hover {
                    //     // transform: scale(1.15);
                    //     transform: translateY(-3px);
                    // }

                    li {
                        list-style: none;
                        display: inline-block;
                        margin-right: 5px;

                        p {
                            margin-top: 10px;
                        }
                    }
                }
            }

            .card_title {
                text-align: center;
                font-size: 1.5rem;
                margin: 0 auto;
                margin-top: 5px;
            }
        }
    }
}
