.main_contents {
    height: 100%;

    .title_bar {
        display: flex;
        justify-content: space-between; /* ヘッダー内の要素を水平中央に配置 */
        align-items: center;
        background-color: map-get($light_theme, "bg");
        height: 100px;
        margin-top: 40px;
        position: "fixed";
        z-index: 10;
        h1 {
            margin: 0;
            font-size: 2.5em;
            font-family: $font;
        }
        nav {
            ul {
                margin-right: -10px;

                li {
                    list-style: none;
                    display: inline-block;
                    margin-right: 10px;
                    font-family: $font;

                    a {
                        text-decoration: none;
                        color: var(--light-color);
                        transition: all 0.3s;
                    }
                }
            }
        }
    }

    .route_list {
        position: relative;
        pointer-events: auto;
        height: calc(108vh - 380px);
        //1080px未満
        // height: calc(114vh - 420px);
        overflow-y: scroll;
        overflow-x: hidden;
    }
}
