.message_area {
  width: 100%;
  // height: 40%;
  flex: 1;
  // min-height: 380px;
  border-radius: 20px;
  background-color: var(--sub_bg);
  transition: all 0.3s;
  image-rendering: -webkit-optimize-contrast;

  &:hover {
    transform: scale(1.01);
    // transform: translateY(-5px);
  }
}
