.route_page {
  @media (max-width: ($pc_small_width)) {
    // height: calc(114vh - 420px);
    // flex-flow: column;
  }

  iframe,
  .route_detail {
    width: 45%;
    height: 99%;
    min-width: 580px;
    border-radius: 20px;

    @media (max-width: ($pc_small_width)) {
      width: 80%;
      height: 50%;
    }
  }

  iframe {
    border: 2px var(--sub_bg) solid;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    transition: all 0.3s;

    // 色フィルター
    filter: var(--map_effect);

    @media (max-width: ($pc_small_width)) {
      margin-right: 0px;
      margin-bottom: 10px;
    }
  }

  .route_detail {
    margin-left: 10px;

    display: flex;
    flex-direction: column;

    @media (max-width: ($pc_small_width)) {
      margin-left: 0px;
    }

    .route_explanation {
      width: 100%;

      .explanation_header {
        display: flex;
        justify-content: right;
        text-decoration: none;
        text-decoration-line: none;
        filter: var(--icon_color);
        transition: all 0.3s;

        p {
          // margin-left: 20px;
          margin-top: 0px;
          margin-bottom: 0px;
          font-size: 20px;
          color: #000;

          &:first-child {
            margin-top: 1px;
            margin-right: 20px;
          }
        }

        .link_no_underline {
          text-decoration: none;
          color: var(--text);
          cursor: pointer;
        }

        .user_button {
          display: flex;
          align-items: center;
          // margin-top: -30px;
          color: var(--text);
          transition: all 0.3s;

          .user_name {
            margin-right: 20px;
          }

          &:hover {
            opacity: 0.5;
            // transform: scale(1.15);
            // transform: translateY(-5px);
          }
        }
        .post_date {
          // justify-content: center;
          // align-items: center;
          // margin-top: 8px;
        }
      }

      .explanation_start_goal {
        p {
          font-size: 30px;
          margin: 0px;
          color: var(--text);
          transition: all 0.3s;
        }
      }

      .body {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 10px;
        font-size: 20px;
        color: var(--text);
        transition: all 0.3s;
      }

      .route_state {
        display: flex;
        justify-content: space-between; /* ヘッダー内の要素を水平中央に配置 */
        align-items: center;
        height: 35px;
        margin: 0px 0px 10px 0px;
        position: "fixed";
        z-index: 10;

        .display_none {
          display: none;
        }

        .route_weather {
          align-items: center;
          justify-content: center;
          padding: 0;

          li {
            list-style: none;
            display: inline-block;
            // margin-right: 5px;
            filter: var(--icon_color);
            transition: all 0.3s;
            image-rendering: -webkit-optimize-contrast;

            &:hover {
              // transform: scale(1.15);
              transform: translateY(-3px);
            }
          }
          .display_none {
            display: none;
          }
        }

        .route_vehicle {
          align-items: center;
          justify-content: center;
          // padding: 0;

          li {
            list-style: none;
            display: inline-block;
            // margin-left: 10px;
            filter: var(--icon_color);
            transition: all 0.3s;
            image-rendering: -webkit-optimize-contrast;

            &:hover {
              // transform: scale(1.15);
              transform: translateY(-3px);
            }
          }

          .display_none {
            display: none;
          }
        }

        .isnot_running {
          align-items: center;
          justify-content: center;
          padding: 0;
          filter: var(--icon_color);
          // margin-left: 10px;

          transition: all 0.3s;
          image-rendering: -webkit-optimize-contrast;

          // &:hover {
          //     // transform: scale(1.15);
          //     transform: translateY(-3px);
          // }

          li {
            list-style: none;
            display: inline-block;
            margin: 0px;

            p {
              margin: 0px 10px 0px 10px;
              font-size: 25px;
            }
          }
        }
      }
    }
  }
}
