@font-face {
  font-family: "Objective-Medium";
  src: url("../font/Objective-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "NotoSansJP-Medium";
  src: url("../font/NotoSansJP-Medium.otf") format("opentype");
}

$font: "Objective-Medium", "NotoSansJP-Medium";

// height
$pc_small: 1080px; // PC：小さいウィンドウ

//width
$pc_small_width: 1294px;
$sp-w: 450px; // スマホ

// $light_theme: (
//   bg: #f4ede4,
//   sub_bg: #222222,
//   text: #222222,
//   sub_text: #f4ede4,
//   input_bg: #222222,
//   input_text: #f4ede4,
// );

// $dark_theme: (
//   bg: #222222,
//   sub_bg: #f4ede4,
//   text: #f4ede4,
//   sub_text: #222222,
//   input_bg: #f4ede4,
//   input_text: #222222,
// );

:root {
  --bg: #f4ede4;
  --sub_bg: #222222;
  --text: #222222;
  --sub_text: #f4ede4;
  --input_bg: #222222;
  --input_text: #f4ede4;
  --icon_color: invert(15%) sepia(20%) saturate(0%) hue-rotate(177deg) brightness(88%)
    contrast(102%);
  --icon_sub_color: invert(93%) sepia(4%) saturate(634%) hue-rotate(336deg) brightness(104%)
    contrast(91%);
  --map_effect: grayscale(60%) sepia(25%);
}
// light
// filter: invert(93%) sepia(4%) saturate(634%) hue-rotate(336deg) brightness(104%) contrast(91%);

// dark
// filter: invert(15%) sepia(20%) saturate(0%) hue-rotate(177deg) brightness(88%) contrast(102%);
