footer {
  display: flex;
  // background-color: gray;
  // backdrop-filter: blur(20px);
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-left: 25px;
  margin-right: 25px;
  transition: all 0.3s;

  .copy_light {
    text-align: center; /* テキストを中央に配置 */
    flex-grow: 1;
    pointer-events: none;
    font-family: $font;
    color: var(--text);
    margin-left: 8%;
    transition: all 0.3s;
  }

  ul {
    margin-left: 10px;

    li {
      list-style: none;
      display: inline-block;
      margin-left: 10px;
      cursor: pointer;
      filter: var(--icon_color);
      transition: all 0.3s;
      image-rendering: -webkit-optimize-contrast;

      &:hover {
        // transform: scale(1.15);
        transform: translateY(-5px);
      }
    }
  }
}
