footer {
    display: flex;
    // background-color: gray;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
}

.copy_light {
    text-align: center; /* テキストを中央に配置 */
    flex-grow: 1;
    pointer-events: none;
    color: map-get($light_theme, "text");
}

.theme_icon {
    cursor: pointer;
    transition: all 0.3s;
    image-rendering: -webkit-optimize-contrast;

    &:hover {
        transform: scale(1.15);
    }
}
