.title_bar {
  display: flex;
  justify-content: space-between; /* ヘッダー内の要素を水平中央に配置 */
  align-items: center;
  height: 100px;
  margin-top: 40px;
  position: "fixed";
  z-index: 10;

  h1 {
    margin: 0;
    font-size: 2.5em;
    font-family: $font;
    color: var(--text);
    transition: all 0.3s;
  }
  nav {
    ul {
      margin-right: -10px;

      .back_arrow {
        transform: rotate(180deg);
        transition: all 0.3s;

        &:hover {
          transform: rotate(180deg) translateY(5px);
        }
      }
      
      .range_bar{
        display:flex;
        justify-contrast:center;
        align-items:center;
      }

      li {
        list-style: none;
        display: inline-block;
        margin-right: 10px;
        filter: var(--icon_color);
        transition: all 0.3s;
        image-rendering: -webkit-optimize-contrast;

        &:hover {
          // transform: scale(1.15);
          transform: translateY(-5px);
        }
        
        /* ベーススタイルに Track も合わせて設定 */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  cursor: pointer;
  width: 100px;
  /* Track のスタイル */
  background: #000;
  height: 2.5px;
  border-radius: 8px;
}
 
/* Thumb: Chrome, Safari, Opera, Edge Chromium */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  width: 10px;
  background: #000;
  border-radius: 50%;
}
 
/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb {
  border: none;
  height: 10px;
  width: 10px;
  background: #000;
  filter: var(--icon_color);
  border-radius: 50%;
}
      }

      .display_none {
        display: none;
      }
    }
  }
}
